:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'UnicaOne';
  min-width: 320px;
  min-height: 100vh;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background: linear-gradient(to bottom, #0A0A0A 0%, #0D0D0D 70%, #BEBEBE 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /* background: radial-gradient(circle at center, #d8d8d8, #6e6e6e, #252525); */
  
}

